{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form action="">
            <h1>Регистрация</h1>
            <div class="input_box">
               <div>
                <div class="input">
                <input type="text" placeholder="Фамилия" id="surname" required onchange="checkValidSurname(this.value)">
                <div class="valid_surname"></div>
                <i class='bx bxs-face' ></i>
            </div>
            <div class="input">
                <input type="text" placeholder="Имя" id="name" required onchange="checkValidName(this.value)">
                <div class="valid_name"></div>
                <i class='bx bxs-face' ></i>
            </div>
            <div class="input">
                <input type="date" placeholder="Дата рождения" required>
            </div>
            <div class="input">
                <input type="tel" placeholder="Номер телефона" id="num" required onchange="checkValidNumber(this.value)">
                <div class="valid_number"></div>
                <i class='bx bxs-phone'></i>
            </div>
            <div class="input">
                <input type="text" placeholder="Придумайте ник" id="nik" required onchange="checkValidNik(this.value)">
                <div class="valid_nik"></div>
                <i class='bx bx-happy-alt'></i> 
            </div>
            <div class="input">
                <input type="password" placeholder="Придумайте пароль" id="pas1" required>
                <i class='bx bxs-lock'></i>
            </div>
            <div class="input">
                <input type="password" placeholder="Повторите пароль" id="pas2" required onchange="checkValidPassword(this.value)">
                <div class="valid_password"></div>
                <i class='bx bxs-lock'></i>
            </div>
            </div>
            <div class="pic">
                <div class="input_pic">
                <input type="file" accept=".jpg, .jpeg, .png" >
                </div>
            </div> 
            </div>
            
            
            <div class="remember">
                <label><input type="checkbox">Запомнить пароль</label>
            </div>
            <div class="btn">
                <button type="submit"><b>Деплой</b></button>
            </div>
        </form>
    </div>
    <script src="{% static 'js/registration.js' %}"></script>
</body>
</html>